# =====================================================================
# D5BU-FateOS GRUB Bootloader Configuration
# Configures the boot menu and kernel options.
# =====================================================================

# Load GRUB video drivers to enable graphical modes
insmod all_video

# Default boot menu entry selection (0 is the first entry)
set default=0

# Time to wait (in seconds) before booting the default entry automatically
set timeout=5

# Boot menu entry definition
menuentry "D5BU-FateOS V1 (Kernel 6.x)" {
    # Initialize VESA graphics resolution and pass it to the kernel
    set gfxmode=1024x768x32,1024x768x24,800x600x32,800x600x24,auto
    set gfxpayload=keep
    # 1. Load the Linux kernel image
    # - /boot/vmlinuz: Path to the kernel inside the ISO.
    # - console=ttyS0: Redirects output to serial port (for headless QEMU).
    # - console=tty0: Redirects output to standard VGA monitor (for real PCs and VirtualBox).
    # - quiet: Suppresses verbose kernel boot messages for a clean startup.
    linux /boot/vmlinuz console=ttyS0 console=tty0 earlyprintk=ttyS0


    
    # 2. Load the Initial RAM Filesystem (Rootfs)
    # - /boot/initramfs.cpio.gz: Contains our custom /init and BusyBox programs.
    initrd /boot/initramfs.cpio.gz
}
